@import url(https://cdn.jsdelivr.net/gh/SuzumaUtils/tailwind-colors-to-css-variables@main/root-css.min.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fail-50: "#FEF6F6";
  --fail-100: "#FCE4E4";
  --fail-200: "#F7C5C5";
  --fail-300: "#F09898";
  --fail-400: "#E47474";
  --fail-500: "#C41C1C";
  --fail-600: "#A51818";
  --fail-700: "#7D1212";
  --fail-800: "#430A0A";
  --fail-900: "#240505";

  --success-50: "#F6FEF6";
  --success-100: "#E3FBE3";
  --success-200: "#C7F7C7";
  --success-300: "#A1E8A1";
  --success-400: "#51BC51";
  --success-500: "#1F7A1F";
  --success-600: "#136C13";
  --success-700: "#0A470A";
  --success-800: "#042F04";
  --success-900: "#021D02";

  --warning-50: "#FEFAF6";
  --warning-100: "#FDF0E1";
  --warning-200: "#FCE1C2";
  --warning-300: "#F3C896";
  --warning-400: "#EA9A3E";
  --warning-500: "#9A5B13";
  --warning-600: "#72430D";
  --warning-700: "#492B08";
  --warning-800: "#2E1B05";
  --warning-900: "#1D1002";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}
